body{
  background-color: black;
}

.dropdown{
  display: none;
  right: 0;
  z-index: 1;
}

.wrapper{
  height: 100vh;
}

header{
  background-color: #ffffff;
  width: 100%;
  padding: 0%;
}

header>img{
  width: 15%;
}

.purpleText{
  color: #ff1293;
}

#form1,#form2,#form3,#form4,#form5{
  background-color: white;
  width: 70%;
  height: 720px;
  top: 40%;
  position: absolute;
  margin-left: 20%;
}

.formHeader{
    box-shadow: 0px 0px 5px black;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #c8cace;
}

.formContents{
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 8%;
    overflow-y: none;
}

.arrow{
  width: 100%;
  height: 100%;
}

#nextButton1{
  background-color: #c8cace;
  width: 60px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.1s;
}

#nextButton1:hover{
  padding-left: 2%;
  transition: 0.3s;
}

#nextButton2{
  background-color: #c8cace;
  width: 60px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.1s;
}

#nextButton2:hover{
  padding-left: 2%;
  transition: 0.3s;
}

#nextButton3{
  background-color: #c8cace;
  width: 60px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.1s;
}

#nextButton3:hover{
  padding-left: 2%;
  transition: 0.3s;
}

#nextButton4{
  background-color: #c8cace;
  width: 60px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.1s;
}

#nextButton4:hover{
  padding-left: 2%;
  transition: 0.3s;
}

#submitButton{
  border-style: none;
  width: 200px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.1s;
}

#submitButton:hover{
  padding-left: 2%;
  transition: 0.3s;
}

#check{
  border-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 45px;
  width: 250px;
  display:none;
}

#checkText:hover{
  padding-left: 2%;
  transition: 0.3s;
}

.sideNav{
position: absolute;
height: 55%;
width: 15%;
background-color: #ff1293;
color: white;
padding-left: 1%;
padding-top: 5px;
transition: 0.2s;
}

.sideNav>p:hover{
  padding-left: 1%;
  transition: 0.2s;
}

.bannerCube{
  color: white;
  position: absolute;
  background-color: #ff1293;
  width: 20%;
  height: 20%;
  margin-left: 20%;
  margin-top: -8%;
  box-shadow: 2px 2px 5px black;
  padding: 1%;
  display: block;
}

.bannerCube>h4{
  text-align: center;
}

.mainContent{
  width: 100%;
  height: 100%;
  background-color: black;
}

.form2Option{
  display:none;
}

.form3selectionContainers{
margin-left: 5%;
margin-right: 5%;
float: left;
}

#form4SelectorsLeft{
  width: 35%;
  float: left;
}

#form4SelectorsRight{
  width: 65%;
  float: right;
}

#form5Left{
  width: 35%;
  float: left;
}

#form5Right{
  width: 35%;
  float: right;
}

#bannerCubeMobile{
  display: none;
}

/* This is where mobile format is activated */

@media only screen and (max-width: 1190px){

body{
  background-color: black;
}

  #form1,#form2,#form3,#form4,#form5{
    background-color: white;
    width: 100%;
    height: 100%;
    top: 20%;
    position: absolute;
    margin-left: 0%;
  }

  #bannerCubeMobile{
    display: block;
  }

  .formContents{
    height: 80%;
    width: 90%;
    margin: auto;
    margin-top: 15%;
    overflow-y: scroll;
  }

  .bannerCube{
    width: 100%;
    height: 20%;
    margin-left: 0%;
    margin-top: 0%;
    box-shadow: none;
    padding: 5%;
    display: none;
  }

  .sideNav{
    display: none;
  }

  .mainContent{
    background-color: black;
  }

  .dropdown{
    position: fixed;
    right: 0;
    top: 0;
    display: block;
  }

}
